
<div clas="row">

	<div class="col-sm-6">
		<form class="form-inline spacer" name="form" data-toggle="validator">
			<h3>Envoyez un message, c'est simple !</h3>
			  <div class="form-group has succes">
			    <label class="control-label" for="inputSuccess">De :</label>
			    <span>{{ user.pseudo }}</span>

			  </div>
			  <div class="form-group">
			    <label for="exampleInputEmail2">&Agrave; :</label>
			    <select>
			    	<option ng-repeat="User in Users">{{ users }}</option>
			    </select>
			    <!--input type="text" class="form-control" id="example2" ng-model="desti" placeholder="Destinataire" required-->
			  </div>
		</form>

		<hr>

		<form>
			   <div class="form-group">
			  <label for="exampleInputEmail2">Sujet :</label>	
				<input type="text" class="form-control" ng-model="sujet" placeholder="Sujet" required>
			</div>
		</form>

		<form name="form">
			<div class="form-group spacer">
			    <label for="exampleInputEmail2">Message :</label>	
			    <textarea ng-model="message" class="form-control" rows="3" required></textarea>
			</div>
		</form>
			<div>
			<button ng-click="send()" type="button" class="btn btn-success" ng-disabled="form.$invalid">Go !</button>
			</div>

			<div>
				<div class="well spacer" ng-show="showMail">
					<div class="borderBot">
						<p><label>De:</label>  <span>{{ mailSelectionne.nom }}</span></p>
						<p><label>&Agrave;:</label>  <span>{{ mailSelectionne.desti }}</span></p>
						<p><label>Date:</label>  <span>{{ mailSelectionne.date }}</span></p>
						<p><label>Sujet:</label>  <span>{{ mailSelectionne.sujet }}</span></p>
					</div>
					<hr>
						<p><label>Message:</label>  <span>{{ mailSelectionne.message }}</span></p>
				</div>
			</div>
	</div>


	<div class="col-sm-6">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>De</th>
					<th>&Agrave;</th>
					<th>Sujet</th>
					<th>Date</th>
					<th>Supprimer</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="Email in Emails"  ng-click="mailSlct(Email)">
					<td class="clickable">{{ user.pseudo }}</td>
					<td class="clickable">{{ Email.desti }}</td>
					<td class="clickable">{{ Email.sujet }}</td>
					<td>{{ Email.date }}</td>
					<td class="clickable"><img src="image/delete.png" ng-click="delete(Email)"></td>
				</tr>
			<tbody>
		</table>
		<div class="alert alert-info">
			<h4>Il y a {{ Emails.length }} message{{ msgS }}.</h4>
		</div>
	</div>	
			<!--button type="submit" class="btn btn-danger" confirm="Etes vous sûr ?" ng-click="delete(Email)">Delete</button-->			
</div>