

	<h3>Trouvez un joueur proche de chez vous !</h3>

<div class="row css1">
		<div class="col-sm-3 border">
			<label ng-show="trouverJoueur">{{ town }} gamer{{ pluriel }} trouvé{{ pluriel }} !</label>
		</div>

	<div class="col-sm-9 border">		
		<form class="form-inline" ng-submit="send()">
			<div class="form-group">
				<label> Trouver une ville:</label>			
				<input class="form-control" ng-model="findCity" type="text" placeholder="ville">
			</div>
				<button type="submit" class="btn btn-primary">OK</button>
		<!--span>Distance</span>
		<select>
			<option>10 Km</option>
			<option>30 Km</option>
		</select-->
			<div class="form-group center">
				<label>Games:</label>
				<select class="form-control max-width">
					<option>Choisis un jeux !</option>
				</select>
			</div>
		</form>
	</div>	
</div>	

<div class="row css2">

  	<div class="col-sm-3 padd">
  		<div class="listPlayer" ng-repeat="listPlayer in listPlayers">
  			<img class="avatar" src="#">
  			<p>{{listPlayer.pseudo}}&nbsp;<a href="#">Voir le profil</a></p>	  			
	  		<p><a href="#">Ajouter à ma guilde</a></p>
	  		<p><a href="#">Envoyer un msg</a></p>
  		</div>
  	</div>

  	<div class="col-sm-9 noPadding">
  		
  		<div ng-hide="map" class="center-block" id="map"><div>
  	</div>
</div>