<div ng-hide="displayNext">
	<h1>{{ title1 }}</h1>
	<form class="form-horizontal" name="myform"> 
	<div class="form-group">
		<label class="col-sm-1">Ville:</label>
		<div class="col-sm-10">
			<input placeholder="Ma ville" ng-model="ville" type="text" name="myfield" ng-minlength="2" required>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1">E-mail:</label>
		<div class="col-sm-10">
			<input placeholder="Mon email" ng-pattern="" ng-model="field" type="text" required>
		</div>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary col-sm-3" ng-click="next()" ng-disabled="myform.$invalid">Etape suivante</button>
	</div>	
	</form>
</div>


<div ng-show="displayNext">
	<h1>{{ title2 }}</h1>
	<div class="alert alert-warning" ng-hide="!pseudoUsed" ng-if="pseudo.length > 0">Nonon, le pseudo {{ dtc }} est déjà pris, soit plus créatif !!</div>
	<form class="form-horizontal" name="myform2">
	<div class="form-group" class="has-error">
		<label class="col-sm-1">Pseudo:</label>
		<div class="col-sm-10">
			<input placeholder="Minimum 4 caractères" ng-model="pseudo" type="text" name="myfield" ng-minlength="4" required>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-1">Mot de passe:</label>
		<div class="col-sm-10">
			<input id="password" name="password" placeholder="Minimum 6 caractères" ng-model="mdp" type="password" ng-minlength="6">
			<span class="text-danger" ng-show="myform.password.$error.minlength">
			</span>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-1">Confirmer:</label>
		<div class="col-sm-10">
			<input placeholder="Tu sais quoi faire" ng-model="password2" type="password" ng-minlength="0" required>
			<span ng-hide="password2.length > 0"><span ng-show="alertError" class="text-danger">Game Over! Try again, SUCKER !!</span></span>
		</div>
	</div>


	<div class="form-group">
		<button type="submit" class="btn btn-primary col-sm-3"ng-click="send()"  ng-disabled="myform2.$invalid">Valider</button>
	</div>
	</form>

</div>