<div>
	<form class="form-horizontal" name="myform" ng-hide="displayNext">

	<h1>{{ title1 }}</h1>

	<div class="form-group">
		<label class="col-sm-1">Ville:</label>
		<div class="col-sm-10">
			<input placeholder="Ma ville" ng-model="ville" type="text" name="myfield" ng-minlength="4" required>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1">E-mail:</label>
		<div class="col-sm-10">
			<input placeholder="Mon email" ng-pattern="EMAIL_REGEXP" ng-model="field" type="text" required>
		</div>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary col-sm-3" ng-click="next()" ng-disabled="myform.$invalid">Etape suivante</button>
	</div>	
	</form>
</div>


<div>
	<form class="form-horizontal" name="myform2" ng-show="displayNext">

	<h1>{{ title2 }}</h1>

	<div class="form-group" class="has-error">
		<label class="col-sm-1">Pseudo:</label>
		<div class="col-sm-10">
			<input placeholder="Mon pseudo" ng-model="pseudo" type="text" name="myfield" ng-minlength="4" required>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-1">Mot de passe:</label>
		<div class="col-sm-10">
			<input id="password" name="password" placeholder="Mon mot de passe" ng-model="mdp" type="password" ng-minlength="6">
			<span class="text-danger" ng-show="myform.password.$error.minlength">
				Game over ! Veuillez rentrer au moins 6 caractères... Try again !
			</span>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-1">Confirmer:</label>
		<div class="col-sm-10">
			<input placeholder="Confimer" ng-model="password2" type="password" ng-minlength="6" required>
		</div>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary col-sm-3" ng-click="send()">Valider</button>
	</div>
	</form>

</div>