<div class="row">
	<div class="col-sm-4">
		<div>
			<img id="homeLogo" src="image/OXOlogo.png">
		</div>
	</div>
	<div class="col-sm-offset-1 col-sm-6">
		<div>Bienvenue sur oxo ! </br>
			L'application qui rapproche les joueurs. Vous voulez trouver des joueurs qui aiment les mêmes jeux que vous et ce, prêt de chez vous ? OXO est là ! Vous pouvez trouver un joueur, un jeux ou consulter votre profil.
		</div>
		<div class="spacer">
			<button ng-click="myProfil()" type="button" class="btn btn-primary">Voir mon profil</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<button class=" btn btn-info">Trouver un Joueur</button>
	</div class="col-sm-6">
	<div>
		<button class="btn btn-info">Trouver un Jeu</button>
	</div>
</div>
<div class="row spacer">
	<div class="lesJeux col-sm-3">jeux</div>
	<div class="lesJeux col-sm-3">jeux</div>
	<div class="lesJeux col-sm-3">jeux</div>
	<div class="lesJeux col-sm-3">jeux</div>
</div>
<div class="row">
	<div class="lesJeux col-sm-3">jeux</div>
	<div class="lesJeux col-sm-3">jeux</div>
	<div class="lesJeux col-sm-3">jeux</div>
	<div class="lesJeux col-sm-3">jeux</div>
</div>