<h3> MON PROFIL</h3>
<div class="row">
	<div class="col-sm-3">
		<div>
			<img src="#">
		</div>
		<div>
			<p>1{{ ville }}</p>
		</div>
	</div>
	<div class="col-sm-5">
		<div>
		<p>2{{ users }}</p>
		</div>
		<div>
		<p>3{{ mail }}</p>
	</div>
	</div>
	<div class="col-sm-offset-1 col-sm-3">
		<h3>Mes jeux</h3>
		<ul>
			<li>1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
			<li>6</li>
			<li>7</li>
			<li>8</li>
			<li>9</li>
		</ul>
	</div>

	<div class="col-sm-9">
		<div>
			<h3>Mes images</h3>
		</div>
		<div>
			<h3>Mes amis</h3>
		</div>
		<div>
			<h3>test</h3>
		</div>
	</div>
</div>