<h1> Profil de {{ pseudo }}</h1>

<div class="row">
    <div class="col-md-3 range">
        <div class="section panel panel-default">
            <img class="imghome img-responsive center-block" ng-src="{{avatar}}">
            <p>{{ ville }}</p>
        </div>
        <h3>A propos</h3>
        <div class="section panel panel-default"> 
            <p>Nom/prénom: {{nom}} {{prenom}}</p>    
            <p>Habite à {{ ville }}</p>
            <p>Naissance: {{anniversaire}}</p>
            <p>Sex: {{sex}}</p>  
            <p>Présentation: {{teaser}}</p> 
            <button class="btn btn-primary" ng-click="editUser()">Edit</button>
        </div> 
    </div>
    <div class="col-md-6 range">
        <h3 class="section">A propos de moi</h3>
        <div class="section panel panel-default"> 
            <h4>Bienvenue sur ton Profil !</h4>
            <p> Bravo ! Tu viens de créer ta page profil. Tu peux dès à présent compléter ta page à ton goût.</p>
        </div>
    </div>
    <div class="col-md-3 range">
       <div class="section panel panel-default">
           <h3>Mes Jeux</h3>
            <ul>
                <li ng-repeat="game in games">{{game.gameName}} - {{game.gamePlateform}}</li>		
            </ul>
            <button class="btn btn-primary bt" ng-click="editGames()">Delete</button>
        </div>
    </div>
</div>
