body{
    padding-top: 70px;
}

.navbar-border{
	border-bottom: 4px solid #0269C2;
}

.navbar-header img{
	transition: 0.4s;
}

.navbar-header img:hover{
	transform: rotate(360deg);
}  

.clickable {
	cursor: pointer;
}
#homeLogo {
	height: 200px;
	widows: 200px;
}
.lesJeux {
	height: 150px;
	border: 1px solid blue;
}
.spacer {
	margin-top: 20px;
}

/*RECHERCHE JEUX VIDEO*/

.gameIcon {
   max-height: 120px;
}

.date  {
    font-size: 16px;
    color: dimgrey;
    display: inline;
}

h3.titre {
    margin-top: 0px;
}

.resultGame {
    padding: 1%;
    background-color: #f0f0f0;
}

label.searchGame {
    margin-top: 20px;
    margin-bottom: 0px;
}

.searchGame form input button select {
    margin-top: 0px;
}

img.searchGame {
    margin-top: -10px;
}
.user {
    color:white;
    line-height: 50px;
}
