body{
    padding-top: 70px;
    background-color: #f0f0f0;

}

.navbar-border{
	border-bottom: 4px solid #0269C2;
}

.navbar-header img{
	transition: 0.4s;
}

.navbar-header img:hover{
	transform: rotate(360deg);
}  

.clickable {
	cursor: pointer;
}
.clickable img {
    height: 20px;
}
#homeLogo {
	height: 200px;
	widows: 200px;
}
.lesJeux {
	height: 150px;
	border: 1px solid blue;
}
.spacer {
	margin-top: 20px;
}

/*$RECHERCHE JEUX VIDEO*/

.gameIcon {
   max-height: 120px;
}

.date  {
    font-size: 16px;
    color: dimgrey;
    display: inline;
}

h3.titre {
    margin-top: 0px;
}

.case {
    padding: 1%;
    background-color: white;
}

.case1 {
    padding: 1%;
    background-color: white;
    margin-top: 130px;
}

label.searchGame {
    margin-top: 20px;
    margin-bottom: 0px;
}

.searchGame form input button select {
    margin-top: 0px;
}

img.searchGame {
    margin-top: -10px;
}
.user {
    color:white;
    line-height: 50px;
}

.entete {
    color : #EFEFEF;
    border: #0269C2 ;
    
}

/*     $MAP      */
#map {
    height: 450px;
    margin-top: 1px;
}
.listPlayer {
    height: 70px;
    background-color: white;
    margin-top: 4px;
    padding: 3px 0px 0px 8px;
    border-radius: 5px;
}
.listPlayer p {
    margin-bottom: 2px;
}
.css1 {
    background-color: #222222;
    color: white;
    height: 50px;
    line-height: 50px;
    border-bottom: 3px solid #0269C2; 
}
.css2 {
    background-color: #404040;
}
label {
    margin-bottom: 0px;
}
.noPadding {
    padding-right: 1px;
    padding-left: 1px;
}
.padd {
    padding: 0px 5px 0px 5px;
}
.avatar {
    height: 65px;
    padding: 3px;
}

.avatarbox {
    padding: 0;
}

.center {
    float: right;
}
.max-width {
    max-width: 210px;
    width: 210px;
}
.logoOxo {
    height: 10px;
    margin-top: 1px;
}

.disable {
    background-color: rgba(255, 255, 255, .7);
}

/* PROFIL */

.section {
    padding: 1%;
    margin-right: 1%;
    margin-left: 1%;
}

.range {
    padding: 0 0 0 0;
    margin: 0 auto;
}

.imghome {
    max-width: 250px;
    border-radius: 5px 5px;
    margin-top: 5%;
}

.wrap {
    background: url('../image/background.jpg') no-repeat;
    background-size: 100%;
}


/* HOME */

.section1 {
    padding: 1%;
    margin-right: 1%;
    margin-left: 1%;
}

.range1 {
    padding: 0 0 0 0;
    margin: 0 auto;
}

.imghome1 {
    max-width: 250px;
    border-radius: 5px 5px;
    margin-top: 5%;
}

.wrap {
    background: url('../image/background.jpg') no-repeat;
    background-size: 100%;
}
